/* 調整用スタイル */
*{
  font-family: "M+ 1p";
  letter-spacing: 1.5px;
  
}
a {
  text-decoration: none;
  color: black;

}

ul,
li {
  list-style: none;
}


main {
  background-color: #f1f1f1;
  height: 4000px;
  display: flex;
}


.main {
  margin: auto;
  height: 4000px;
}

.footer {
  background: linear-gradient(#ffffff, #b7feff);
  height: 200px;
  display: flex;

  color: black;
}

.footer div {
  margin: auto;
}


/* ヘッダー */


header {
  font-size: 16px;
  box-shadow: 0px 17px 16px -6px rgba(0,0,0,0.1);
  color: #fff;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.header__inner {
  padding-left:5px;
  padding-right: 20px;
  padding-top: 5px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  position: relative;
}


/* ヘッダーのロゴ部分 */
.header__title {
  width: 80px;
  color: #fff;
}


@media screen and (min-width: 960px) {
  .header__title {
    width: 120px;
  }
}

.header__title img {
  display: block;
  width: 100%;
  height: 100%;
}

/* ヘッダーのナビ部分 */

.header__nav {
  position: absolute;
  color: #fff;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  background-color: #fff;
  transition: ease .4s;
  color: #fff;
  font-size: 10px;
}


@media screen and (min-width: 960px) {
  .header__nav {
    position: static;
    transform: initial;
    background-color: inherit;
    height: inherit;
    display: flex;
    justify-content: end;
    width: 50%;
  }
}


@media screen and (min-width: 960px) {
  .nav__items {
    width: 100%;
    display: flex;
    align-items: center;
    height: initial;
    justify-content: space-between;
  }
}

.nav-items {
  padding-top: 250px;
  padding-bottom: 200px;
}


@media screen and (min-width: 960px) {
  .nav-items {
    padding-top: inherit;
    padding-bottom: inherit;
  }
}

/* ナビのリンク */
.nav-items__item a {
  color: black;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 24px;
  
}

.nav-items__item:last-child a {

  transition: color .3s;
}

@media screen and (min-width: 960px) {
  .nav-items__item a {
    margin-bottom: 0;
    color: #fff;
  }
}


/* ハンバーガーメニュー */

.header__hamburger {
  color: white;
  width: 48px;
  height: 100%;

}

.hamburger {
  color: white;
  background-color: transparent;
  border-color: transparent;
  z-index: 9999;
}

@media screen and (min-width: 960px) {
  .hamburger {
    display: none;
  }
}

/* ハンバーガーメニューの線 */
.hamburger span {
  width: 100%;
  height: 1px;
  background-color: #000;
  position: relative;
  transition: ease .4s;
  display: block;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  margin: 8px 0;
}

.hamburger span:nth-child(3) {
  top: 0;
}


/* ハンバーガーメニュークリック後のスタイル */
.header__nav.active {
  transform: translateX(0);
}

.hamburger.active span:nth-child(1) {
  top: 5px;
  transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;

}

.hamburger.active span:nth-child(3) {
  top: -13px;
  transform: rotate(-45deg);
}
body {
  padding: 0;
  margin: 0;
  font-family: M+ 1p;
}

.link {
  padding: 0 10px;
}

.container1 {
  background: linear-gradient(#000, rgb(255, 255, 255));

  font-size: 10px;

  height: 1000px;
  padding-top: 50px;
  text-align: center;
}

.container2 {
  background: #fff;

  font-size: 26px;

  height: 2500px;
  padding-top: 50px;
  
  text-align: center;
}
/* 背景画像の見えている高さ */
.parallax {
  height: 40vh;
}

/* 背景画像 */
.parallax::before {
  background-image: url(school.JPG);
  background-size: contain;
  height: 90%;
  background-position: center;
  background-repeat: no-repeat;
  content: "";
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}



@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
}

header {
  /* headerを画面上部に固定する */

  /* ロゴとナビゲーションを横並びにする */

  align-items: center;
  /* スクロールしても他のコンテンツの下にならないようにする */
  z-index: 10;
  /* 背景色を黒にする */
  background: rgb(9, 9, 9);
  color:rgb(255, 255, 255);

  /* アニメーションの変化時間 */
  transition: 1s;
}

/* ロゴのデザイン */
.logo {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 10px;
  /* アニメーションの変化時間 */
  transition: 1s;
}

/* ナビゲーションのリンクを横並びにする */
ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

/* ナビゲーションのリンクのスタイル調整 */
a {
  display: inline-block;
  margin-left: 12px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 1.5px;
  /* アニメーションの変化時間 */
  transition: 0.5s;
}

/* スクロールするため高さを出すためのsection */


/* スクロールして「scroll-navクラス」がついたときのヘッダーデザイン */
header.scroll-nav {
  /* 余白を狭くする */
  padding: 10px 15px;
  /* 背景を白にする */
  background: rgb(255, 255, 255);
  color: #fff;
  /* コンテンツの背景が白でもナビゲーションだと分かりやすいように影をつける */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

/* 「scroll-navクラス」がヘッダーについたときに、ロゴとナビゲーションの文字を黒にする */
header.scroll-nav .logo,
header.scroll-nav ul li a {

  color: #000;
}

/*主な共通部分は省略*/

a.btn-border {
  border: 3px solid #000;
  border-radius: 0;
  background: #fff;
}

a.btn-border:before {
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  content: '';
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 1px solid #000;
}

a.btn-border:hover:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
}





/*==================================================
ふわっ
===================================*/

/* その場で */
.fadeIn{
animation-name:fadeInAnime;
animation-duration:3s;
animation-fill-mode:forwards;
opacity:0;
}

@keyframes fadeInAnime{
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}



/*========= レイアウトのためのCSS ===============*/





.flex{

  flex-wrap: wrap;
}

.box{

  padding: 20px;
  margin:0 20px 20px 20px;
  font-size: 16px;
  color: rgb(190, 190, 190);
}

.button {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.button::after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  opacity: 0;
  visibility: hidden;
  transition: .1s;
}
.button:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible;
}